<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>List of Works</h2>

<div class="tasker-container">
    <% data.forEach(e => { %>
    <div class="tasker-card">
        <p><%= e.name %></p>
        <p><%= e.work %></p>
        <p><%= e.address %>, <%= e.zip %></p>
        <p><%= e.state %></p>
        <p class="contact">Phone: <%= e.phone %></p>
        <%=console.log(e._id)%>
    </div>
    <% }) %> 
</div>
</body>
</html>